/* IMPOSTAZIONI GENERALI */
* {text-align: center;}
body {
    font-family: 'Open Sans', sans-serif;;
    line-height: 1.65rem;
    font-size: 1.2rem;
    color: #393d41;
}

p {
    margin: 2rem;
}

/* HEADER */

header {
    padding: 2rem;
    background-color: black;
}

header img{
    height:35px;
    width: 101px;
}

/* SECTION */

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #25a2c3;
}

.zero {
    font-family: 'Montserrat', sans-serif;
    background-image: url(../images/banner.jpg);
    padding: 2rem;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 2rem;
}

.zero h1 {
    color: #25a2c3;
    font-size: 2rem;
    font-weight: bolder;
}

.zero button {
    background-color: #f04c2f;
    border-color: #f04c2f;
    color: white;
    border-radius: 5px;
    padding: 1.4rem;
    font-weight: bold;
}
.uno img {
    border-radius: 100%;
    margin-bottom: 2rem;
}

.due div{
    border: #dee1e3 1px solid;
    margin: 1.5em;

}

.due div img {
    width: 330px;
    height: 205px;
}

/* MAIN */

article {
    background-color: #e22d0e;
    color: white;
    padding: 2rem;
    margin-bottom: 2rem;
    margin-top: 3rem;
}

article h1 {
    color: white;
    font-size: 1.5rem;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
}

blockquote {
    font-style: italic;
    font-size: 0.9rem;
    margin-top: 2rem;
}

span {
    font-size: small;
}
/* FOOTER */

footer {
    background-color: #25a2c3;
    color: white;
    padding: 2rem;
}

footer a {
    color: white;
}

footer a:hover {
    color: #f04c2f;
}

footer h2 {
    font-size: 2rem;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
}